.sign-up-parent-div {
  background-color: rgb(80, 110, 80);

  padding: 20px;
}

.signup-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(226, 221, 221);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(210, 248, 210);

  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
}

.signUp-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.signUp-btn {
  background-color: rgb(95, 248, 95);
  width: 100%;
  padding: 10px;
  font-weight: 500;
}
.signUp-btn:hover {
  background-color: rgb(41, 194, 41);
  transition: 1s;
}
/* Optional: Add more styling for responsive design */
@media (max-width: 600px) {
  .signup-form {
    max-width: 100%;
  }
}
