.strongFoothold-parent-div {
  background-color: rgb(237, 250, 237);
  margin-top: 100px;
  padding: 50px;
}
.strongFoothold-child-div {
  padding-top: 100px;
}
.strongFoothold-heading {
  font-size: 30px;
  font-weight: 700;
}
.strongFoothold-textAndLogo-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 65%;
  margin: auto;
  gap: 20px;
}
.strongFoothold-textAndLogo-div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.strongFoothold-right-text-container {
  text-align: right;
}
.strongFoothold-left-text-container {
  text-align: left;
}
.strongFoothold-logo {
  width: 100px;
}
.strongFoothold-logo-heading {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  color: rgb(58, 58, 58);
}
.strongFoothold-logo-div {
  background-color: white;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
}
.strongFoothold-p {
  font-size: 14px;
  color: gray;
}
