.hrConsulting-div {
  background-image: url("https://enroute.com.bd/wp-content/uploads/2022/05/HR-Consulting-Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.hrConsulting {
  color: white;
  font-size: 35px;
  font-weight: 500;
  position: absolute;
  margin-top: 180px;
  margin-left: 750px;
}
.hrConsulting-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  gap: 30px;
}

.hrConsulting-flex-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hrConsulting-blank-div {
  height: 3px;
  width: 50px;
  background-color: red;
}

.hrConsulting-dynamic {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.hrConsulting-heading {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 30px;
}
.text-color {
  color: red;
}
.hrConsulting-text-container-div {
  text-align: left;
}

.hrConsulting-p {
  margin-top: 20px;
  font-size: 14px;
  color: gray;
}

/* Responsiveness start */
@media screen and (max-width: 1650px) {
  .hrConsulting {
    margin-left: 650px;
  }
}
@media screen and (max-width: 1400px) {
  .hrConsulting {
    margin-left: 550px;
  }
}
@media screen and (max-width: 1250px) {
  .hrConsulting {
    margin-left: 450px;
  }
}
@media screen and (max-width: 1050px) {
  .hrConsulting {
    margin-left: 400px;
  }
}
@media screen and (max-width: 950px) {
  .hrConsulting {
    margin-left: 350px;
  }
}
@media screen and (max-width: 800px) {
  .hrConsulting {
    margin-left: 300px;
  }
}
@media screen and (max-width: 750px) {
  .hrConsulting {
    margin-left: 250px;
  }
}
@media screen and (max-width: 650px) {
  .hrConsulting {
    margin-left: 200px;
  }
}
@media screen and (max-width: 550px) {
  .hrConsulting {
    margin-left: 150px;
  }
}
@media screen and (max-width: 450px) {
  .hrConsulting {
    margin-left: 80px;
  }
}
@media screen and (max-width: 350px) {
  .hrConsulting {
    margin-left: 50px;
  }
}
@media screen and (max-width: 300px) {
  .hrConsulting {
    margin-left: 20px;
  }
}

/*  */
@media screen and (max-width: 1250px) {
  .hrConsulting-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .hrConsulting-grid-div {
    width: 100%;
    padding: 10px;
  }
}

/* for-carousel */
@media screen and (max-width: 1270px) {
  .for-carousel {
    width: 60%;
    margin: auto;
  }
}
