.common-color-red {
  color: red;
}
.backgroundTitle-parent-div {
  position: relative;
}
.backgroundTitle {
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  margin-top: 200px;
  margin-left: 750px;
}
.manageServiceProduct-parent-div {
}
.manageServiceProduct-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin: auto;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
  gap: 50px;
}
.img-manageServiceProduct {
}
.manageServiceProduct-text-div {
  text-align: left;
}
.manageServiceProduct-flex-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blank-manageServiceProduct-div {
  width: 50px;
  height: 3px;
  background-color: red;
}
.p-title {
  font-weight: 500;
  font-size: 14px;
}
.first-heading-manageServiceProduct {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.pFirst {
  margin-bottom: 20px;
  font-weight: 500;
  color: rgb(82, 80, 80);
}
.pSecond {
  margin-top: 50px;
  font-weight: 500;
  color: rgb(82, 80, 80);
}
.parent-map-div {
  background-color: rgb(241, 244, 247);
  padding: 30px;
}

@media screen and (max-width: 1450px) {
  .manageServiceProduct-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1750px) {
  .backgroundTitle {
    margin-left: 700px;
  }
}
@media screen and (max-width: 1600px) {
  .backgroundTitle {
    margin-left: 670px;
  }
}
@media screen and (max-width: 1500px) {
  .backgroundTitle {
    margin-left: 600px;
  }
}
@media screen and (max-width: 1350px) {
  .backgroundTitle {
    margin-left: 550px;
  }
}
@media screen and (max-width: 1250px) {
  .backgroundTitle {
    margin-left: 480px;
  }
}
@media screen and (max-width: 1100px) {
  .backgroundTitle {
    margin-left: 400px;
  }
}
@media screen and (max-width: 920px) {
  .backgroundTitle {
    margin-left: 350px;
  }
}
@media screen and (max-width: 850px) {
  .backgroundTitle {
    margin-left: 280px;
  }
}
@media screen and (max-width: 700px) {
  .backgroundTitle {
    margin-left: 200px;
  }
}
@media screen and (max-width: 650px) {
  .backgroundTitle {
    margin-left: 150px;
  }
}
@media screen and (max-width: 450px) {
  .backgroundTitle {
    margin-left: 80px;
  }
}
@media screen and (max-width: 350px) {
  .backgroundTitle {
    margin-left: 30px;
  }
}
@media screen and (max-width: 300px) {
  .backgroundTitle {
    margin-left: 10px;
  }
}
