.parent-of-two-map-div {
  background-color: #f0eded;
  padding: 1px;
}
.children-of-two-map-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.recruitmentButtonDataById-carousel-div {
  padding: 50px;

  background-color: rgb(231, 228, 228);
}
.recruitmentButtonDataById-div {
  background-color: rgb(231, 228, 228);
}
/* Responsiveness */
@media screen and (max-width: 1200px) {
  .children-of-two-map-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
