.ourTraining-main-second-parent-div {
  margin-top: 20px;
}
.ourTraining-second-part-parent-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 75%;
  margin: auto;
  margin-top: 100px;
  align-items: center;
  gap: 20px;
}
.text-div {
  position: relative;
  text-align: left;
}
.ourTraining-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.ourTraining-p {
  color: gray;
}
.circle-2-div {
  background: linear-gradient(to left, #fc00ff -10%, #01dade 88%);
  width: 88px;
  height: 88px;
  border-radius: 100px;
  position: relative;
  top: 55%;
  transform: translateY(-140%);
  margin-left: 39px;
  bottom: 6px;
  z-index: -1;
  text-align: center;
  line-height: 88px;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  transition: 1s;
  animation: 15s infinite gradient;
}
