.header-parent-div {
  background-color: black;
  color: white;
}
.bgc {
  background-color: black;
}

.home {
  background-color: green;
  border-radius: 5px;
}

.enroute {
  font-size: 25px;
  color: green;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 20px;
}
.o {
  color: orangered;
  font-size: 40px;
}
.header-free-btn {
  background-color: green;
  padding: 10px;
  font-weight: 500;
  margin-right: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .enroute {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .o {
    font-size: 30px;
  }
  .header-free-btn {
    font-size: 10px;
    margin-right: 30px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 300px) {
  .enroute {
    font-size: 15px;
  }
  .o {
    font-size: 25px;
  }
  .header-free-btn {
    font-size: 10px;
    margin-right: 0px;
    margin-left: 20px;
  }
}
