.ourTrainingCarousel-parent-div {
  background-color: rgb(247, 243, 243);
  padding: 20px;
  margin-top: 100px;
}
.ourTrainingCarousel-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: auto;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Organizational-flex-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Organizational-blank-div {
  height: 3px;
  width: 50px;
  background-color: red;
}
.ourTrainingCarousel-heading {
  font-size: 30px;
  font-weight: 700;
}
.courses {
  color: red;
}

.carousel-div {
  width: 75%;
  margin: auto;
}
.carousel-cart {
  background-color: white;
  padding: 20px;
  width: 90%;
}
.ourTrainingCarousel-heading-h3 {
  font-size: 20px;
  font-weight: 700;
}
.ourTrainingCarousel-border-div {
  height: 2px;
  width: 90%;
  margin: auto;

  background-color: rgb(233, 229, 229);
  margin-top: 25px;
  margin-bottom: 25px;
}
.ourTrainingCarousel-flex-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ourTrainingCarousel-flex-div p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
