.footer-parent-div {
  background-image: url("https://enroute.com.bd/wp-content/uploads/2022/02/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}
