.text-common-color {
  color: white;
}
.text-common-siz {
  font-size: 20px;
  font-weight: 500;
}
.link-common-margin {
  margin-top: 200px;
}
.footer-parent-div {
  background-image: url("https://enroute.com.bd/wp-content/uploads/2022/02/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding: 30px;
}
.footer-grid-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  gap: 50px;
}
.whth-over-img-text-div {
  text-align: left;
}
.with-over {
  font-weight: 500;
  margin-top: 40px;
}
.contact-parent-footer-div {
  text-align: left;
}
.blank-footer-div {
  height: 3px;
  width: 60px;
  background-color: red;
  margin-top: 10px;
  border-radius: 20px;
}
.footer-flex-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  text-align: left;
}
.link-parent-div {
  text-align: left;
}
.link-children-div {
  margin-top: 10px;
  line-height: 50px;
}
.footer-parent-media-logo-div {
  text-align: left;
}
.footer-input-btn-div {
  margin-top: 20px;
}
.footer-input {
  width: 65%;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(128, 128, 128, 0.699);
  border: none;
}
.subscribe {
  background-color: green;
  padding: 8px;
  border-radius: 0px 10px 10px 0px;
}
.footer-flex-parent-logo-div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}
.footer-logo-div {
  background-color: rgba(240, 248, 255, 0.596);
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
}
.footer-logo {
  border-radius: 50%;
}
