.common-title {
  font-size: 20px;
  font-weight: 700;
}
.common-p {
  font-size: 14px;
  color: gray;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}
.common-logo-div {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
.buttonDataTwoMapDiv-flex-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.align {
  text-align: right;
}
.bdtDataTwoLogo {
  width: 300px;
}

@media screen and (max-width: 1200px) {
  .bdtDataTwoLogo {
    display: none;
  }
  .common-logo-div {
    display: none;
  }
  .align {
    text-align: left;
  }
}
