.ourDeveloped-logo-parent-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
}
.ourDeveloped-logo-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 1px 2px 10px rgb(230, 227, 227);
  border: 1px solid #f3f3f3;
  width: 280px;
}
.img-logo {
  width: 50px;
}
.logo-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(73, 73, 73);
  text-align: left;
}

.ourDeveloped-logo-parent-div-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 37%;
  margin: auto;
  margin-bottom: 100px;
}
