.managedService-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}
.managedService-text-div {
  margin-top: 150px;
  text-align: left;
  background-color: rgb(233, 255, 233);
  padding: 50px;
}
.child-div {
  width: 75%;
  margin-left: auto;
  margin-top: 100px;
}
.managed-flex-div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.heading-manageService {
  font-size: 40px;
  color: green;
  font-weight: 700;
}
.managedService-img-div {
  background-color: rgb(233, 255, 233);
  margin-top: 150px;
}
.managedService-img-div img {
  width: 100%;
  border-radius: 0px 0px 0px 100%;
}
.flex-btn-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.all-btn-div {
  margin: 10px;
}

.btn-all {
  border: 1px solid rgb(161, 161, 160);

  width: 200px;
  padding: 5px;
  box-shadow: 1px 1px 3px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.managedService-logo {
  width: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 1250px) {
  .flex-btn-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-all {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .managedService-grid-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .child-div {
    margin: auto;
  }
  .managedService-img-div {
    margin-top: 0;
  }
}
