.buttonDataMapDiv-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: rgb(237, 252, 237);
}
.buttonDataMapDiv-text-container-div {
  width: 60%;
  margin: auto;
}
.pHeading-heading-pFirst-container {
  text-align: left;
}
.heading {
  font-size: 30px;
  font-weight: 700;
  color: #007c53;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pFirst {
  margin-bottom: 30px;
  font-size: 14px;
}
.tick-mark-logo {
  width: 20px;
}
.ul-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.li-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
}
.img-from-ButtonDataMapDiv {
  width: 100%;
  border-radius: 0px 0px 0px 100%;
}
